<!-- <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation"> -->
<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <figure class="image">
          <img src="/assets/logo.svg" title="📚 Biblioteca Virtual 📚">
        </figure>
      </a>
    </div>
  
    <div class="navbar-menu is-active">
      <div class="navbar-start">
        <div class="navbar-item">
          <app-search-bar></app-search-bar>
        </div>
      </div>

      <div class="navbar-end">
        <a class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <span class="material-icons">home</span>
            </span>
            <p>Catálogo</p>
          </span>
        </a>
        <a class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <span class="material-icons">person_add</span>
            </span>
            <p>Registrarse</p>
          </span>
        </a>
        <a class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <span class="material-icons">login</span>
            </span>
            <p>Iniciar sesión</p>
          </span>
        </a>
        <a class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <span class="material-icons">add</span>
            </span>
            <p>Añadir libro</p>
          </span>
        </a>
        <a class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <span class="material-icons">history</span>
            </span>
            <p>Mis préstamos</p>
          </span>
        </a>
        <a class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <span class="material-icons">logout</span>
            </span>
            <p>Cerrar sesión</p>
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>
