.box {
    max-width: 500px;
    margin: auto;
}

.delete {
    float: right;
}

span:hover {
	color: maroon;
}

.button {
    background-color: maroon;
    color: white;
}

label {
    text-align: left;
}

.select, select {
    width: 100%;
}