<div class="box">
    <div id="form-title">
        <p class="title is-4">Inicio de sesión</p>
    </div>
    <div class="field">
        <label class="label">Correo electrónico:</label>
        <div class="control">
            <input class="input" type="email">
        </div>
    </div>
    <div class="field">
        <label class="label">Contraseña:</label>
        <div class="control">
            <input class="input" type="password">
        </div>
    </div>
    <div class="field is-grouped is-grouped-centered">
        <div class="control">
            <button class="button">Ingresar</button>
        </div>
    </div>
</div>