<div class="card">
    <div class="card-image">
      <figure class="image is-2by3">
        <img
          src="/assets/angeles.jpg"
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <p class="title is-5">Donde habitan los ángeles</p>
        <p class="subtitle is-6">Claudia Celis</p>
      </div>
    </div>
    <footer class="card-footer">
        <a href="#" class="card-footer-item">
            <span class="icon-text">
                <span class="icon">
                  <span class="material-icons">edit</span>
                </span>
                <p>Editar</p>
              </span>
        </a>
        <a href="#" class="card-footer-item">
            <span class="icon-text">
                <span class="icon">
                  <span class="material-icons">delete</span>
                </span>
                <p>Borrar</p>
              </span>
        </a>
    </footer>
  </div>